/* 상단 헤더크기 지정 */
.global_header {
	height : 60px;
}

/* 메뉴 관련 속성 지정 */
.global_menu {
	float : right;
}
.global_menu > li{
	text-align:center;
	list-style:none;
	float : left;
	height : 30px;
	width : 80px;
	margin-right:5px;
	padding: 5px 40px;
}

/* index.html 내부요소 속성 지정 */
.index_main {
	text-align : center;
}
.index_text{
	margin-bottom : 20px;
}
.index_button {
	height : 20px;
	padding : 10px;
}
.index_image{
	margin : 40px;
}

/* photo.html 내부요소 속성 지정 */
.photo_image{
	border:1rem solid red;
	vertical-align: middle;
	float:left;
}
.photo_article{
	margin:20px;
}
.photo_section{
	float:left;
}
.photo_clear{
	clear: both;
}

/* aboutme.html 내부요소 속성 지정 */
.aboutme_text{
	margin-bottom: 20px;
}

/* 하단 꼬리말 속성 지정 */
footer {
	height : 20%;
	text-align: center;
}

/* 그림자 음영 효과 */
.global_menu > li, .index_button {
	box-shadow: 5px 5px;
	cursor : pointer;
	margin-right : 15px;
	background-color : gray;
}

/* 밑줄 없애기 */
a{
	text-decoration-line : none;
}