header {
	height : 60px;
}

ul {
	float : right;
}
li{
	text-align:center;
	list-style:none;
	float : left;
	height : 30px;
	width : 80px;
	margin-right:5px;
	padding: 5px 40px;
	
}
.index_main {
	text-align : center;
}
.photo_main {
	margin : 20px;
}
p{
	margin-bottom : 20px;
}

.button > span {
	height : 20px;
	padding : 10px;
}

.index_image{
	margin : 40px;
}

.photo_image{
	border:1rem solid red;
	vertical-align: middle;
}

.photo_text{
	margin-left:20px;
}
.aboutme_text{
	margin-bottom: 20px;
}

footer {
	height : 20%;
	text-align: center;
}

li, .button > span {
	box-shadow: 5px 5px;
	cursor : pointer;
	margin-right : 15px;
	background-color : gray;
}